---
import Social from "./Social.astro";
---

<footer>
  <div class="container">
    <p>Aquí también puedes encontrarme.</p>
  </div>
  <div class="socials">
    <Social platform="github" username="nianrici" />
    <a href="https://www.linkedin.com/in/nicolas-riquelme-cihak-b790b22b/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  </div>
</footer>