---
import Social from "./Social.astro";
---

<footer>
  <a href="/rss.xml"><i class="fa-solid fa-rss"></i> RSS</a>
  <p>No soy muy de redes sociales, pero aquí puedes encontrarme.</p>
  <div class="socials">
    <Social platform="twitter" username="nianrici" />
    <Social platform="github" username="nianrici" />
    <a href="https://www.linkedin.com/in/nicolas-riquelme-cihak-b790b22b/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  </div>
</footer>