---
import { fade } from 'astro:transitions';
---
<div transition:animate={fade({ duration: '0.4s' })} class="nav-links">
<a href="/">Inicio</a>
<a href="/about/">Sobre mi</a>
<a href="/blog/">Blog</a>
<a href="/tags/">Etiquetas</a>
<a href="/gallery/">Galería</a>
</div>